* {
    /* border: red thin dashed; */
    font-family: "Source Sans Pro";
    font-size: 16px;
}

html {
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

body{
	background-image: url("../img/blue_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

