@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
    /* border: red thin dashed; */

    font-family: "Source Sans Pro";
    font-size: 16px;
}

.leftPanel {
    position: relative;
    align-self: left;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(39,137,166,1) 100%);
    width: 10%;
}

.rightPanel {
    position: relative;
    align-self: right;
    background-color: rgb(255, 0, 200);
}

.horizontal-split {
    display: flex;
}

.top-menu {
    flex: 0 0 50px;
    flex-direction: column;
    background-color: green;
    position: sticky;
    align-content: space-around; 
}

.vertical-split {
    display: flex;
    flex-direction: column;
}

nav .vertical-split{
    align-items: center;
}

.horizontal-split nav {
    flex: 0 0 200px;
    padding: 10px;

}

#full-name {
    font: 21px "Source Sans Pro";
    color: whitesmoke;
    padding: 0.2em;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    align-content: center;
    align-self: center;
    /* box-shadow: 0 0 8px 8px white inset; */
}

.crop img {
    width: 300px;
    height:  200px;
    margin: 0 0 0 -30px;
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.banner img {
    width: 100vw;
    top: -70px;
}

th, td {
    border: 1px solid black;
    border-style: dotted;
    border-color: whitesmoke;
}

th {
    padding: 0 1em;
    width: auto;
    color: rgb(251, 255, 255);
    background-color: rgba(91, 156, 218, 0.836);
    font: 21px "Varela Round";
    
}

td {
    padding: 0 1em;
    height: 2em;
    width: 100%;
    font: 16px "Varela Round";
}

.info-table {
    padding: 1em 2em;
    /* display: block; */
    width: auto;
}

.crop-logo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 20%;
    box-shadow: 3px 3px 5px 5px #ccc;
}

.logo-asociatie {
    border: 0 32em;
    object-fit: cover;
    width: 120px;
    height: 120px;

}

.tabel-asociatii tr td {
    width:fit-content;
    padding: 5px;
}

.details-container {
    width: 100%;
    margin: 4px;
}

.progress-asociatie {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}