@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    /* border: red thin dashed; */
    font-family: "Source Sans Pro";
    font-size: 16px;
}

html {
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

body{
	background-image: url("../images/blue_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

.under-construction {
    background: repeating-linear-gradient(
  45deg,
  #ffee0098,
  #ffee0098 10px,
  #2005028e 10px,
  #2005028e 20px);
    font-size: 3em;
    font-weight: 900;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(212, 125, 26);
    align-self: center;
  }

  .svg-red {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.svg-yellow {
    filter: invert(27%) sepia(91%) saturate(5000%) hue-rotate(45deg) brightness(254%) contrast(97%);
}

.svg-grey {
    filter: invert(30%) sepia(4%) saturate(0%) hue-rotate(356deg) brightness(98%) contrast(80%);
}

.svg-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(254%) contrast(97%);
}

.pack-tight {
    display: flex;
}

