* {
    /* border: red thin dashed; */
    font-family: "Source Sans Pro";
    font-size: 16px;
}

html {
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

body{
	background-image: url("../images/blue_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

.under-construction {
    background: repeating-linear-gradient(
  45deg,
  #ffee0098,
  #ffee0098 10px,
  #2005028e 10px,
  #2005028e 20px);
    font-size: 3em;
    font-weight: 900;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(212, 125, 26);
    align-self: center;
  }

