.top-menu {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex: 0 0 50px;
    flex-direction: row;
    background-color: rgb(28, 42, 88);
    position: sticky;
    align-content: space-around;
    justify-content: flex-start; 
}

.top-menu .crop {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 20%;
    align-content: center;
    align-self: center;
    margin: 5px;
}

.top-menu .crop img {
    width: 75px;
    height:  50px;
    margin: 0 0 0 -3px;
}

.company-logo {
    height:50px; 
    align-self: center; 
    margin-left:10px;
    margin-right: 10px;
}

.menu-button {
    border: 1px rgb(94, 145, 160) solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(28, 70, 68);
    color: ivory;
    border-radius: 5%;
    align-content: center;
    margin: 2px;
    font-size: large;

}

.menu-button:active{
    background-color: cadetblue;
    transition: 0.1s ease-out;
}

.messages-button {
    margin-left: auto;
    background-color: #00000000;
    border: none;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.notification {
    background-color: chocolate;
    border: coral 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    font-size: large;
    color: cornsilk;
    display: flex;
    align-items: center;
}

  .notification button {
      height: fit-content;
      align-self: center;
      margin-left: auto;
      margin-right: 10px;
  }

  .notification.closed {
    visibility: hidden;
    height: 0px;
  }

  .notification > a {
      margin: 10px;
      padding: 3px;
      border: 1px dashed;
  }