.ore-lucrate {
    font-size: 1.6em;
    color: teal;
    background-color: thistle;
    position: absolute;
    top: 44px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
}

.current-activity {
    margin-top: 60px;
}

.add-button,#add-project {
    background-color: rgb(28, 42, 88);
    position: absolute;
}

.add-button {
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    margin: 12px;
    border: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 3px 3px aliceblue;
    outline:none
}

.add-button:active {
    box-shadow: 0px 0px 1px 1px aliceblue;
}

.activity-task {
    display: grid;
    grid: 'title title '
    'desc notes'
    'btn btn';

    grid-auto-flow: row;
    margin: 15px;
    background-color: honeydew;
    padding: 14px;
    border-radius: 5px;
    position: relative;
}

.completed-tasks .done-button {
    background-color: green;
    visibility: visible;
    pointer-events: none;
    box-shadow: 0px 0px 1px 1px aliceblue;
}

#new-tasks-container .done-button {
    visibility: hidden;
}

.completed-tasks .activity-task {
    background-color: gainsboro;
}

/* do not show enroll button in active tasks */
#active-tasks .enroll-button {
    display: none;
}

/* do not show enroll button in completed tasks */
#completed-tasks-container .enroll-button {
    display: none;
}

/* do not show feedback button in active tasks */
#active-tasks .feedback-button {
    display: none;
}

/* do not show feedback button in active tasks */
.active-tasks .feedback-button {
    display: none;
}

/* do not show feedback button in new tasks */
#new-tasks-container .feedback-button {
    display: none;
}

/* do not show done button in new tasks */
#new-tasks-container .done-button {
    display: none;
}

.activity-task:hover .done-button {
    visibility: visible;
}

.task-panel > .feedback-button {
    right: 0px;
    top: 0px;
}

/* only show feedback button if task has not been given feedback */
.need-feedback.activity-task:hover .feedback-button {
    visibility: visible;
}

/* only show feedback button if task has not been given feedback */
.activity-task:hover .need-feedback .feedback-button {
    visibility: visible;
}

.activity-task:hover .enroll-button {
    visibility: visible;
}

.done-button:active {
    box-shadow: 0px 0px 1px 1px aliceblue;
    background-color: green;
}

.enroll-button:active {
    box-shadow: 0px 0px 1px 1px aliceblue;
    background-color: green;
}

.feedback-button:active {
    box-shadow: 0px 0px 1px 1px aliceblue;
    background-color: green;
}

.done-button {
    background: url(/public/images/done_outline-24px.svg);
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px gainsboro;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    color: white;
    outline: none;
    border: none;
    visibility: hidden;
}

.feedback-button {
    background: url(/public/images/rate_review-24px.svg);
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px gainsboro;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    color: white;
    outline: none;
    border: none;
    visibility: hidden;
    position: absolute;
    top: 20px;
}

.enroll-button {
    background: url(/public/images/palma-FabricaDeVoluntari.png);
    border-radius: 50%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    color: white;
    outline: none;
    border: none;
    visibility: hidden;
}

/* always show buttons if device input does not support hover  */
@media (hover: none) {
    .activity-task .done-button {
        visibility: visible;
    }
    
    /* only show feedback button if task has not been given feedback */
    .need-feedback.activity-task .feedback-button {
        visibility: visible;
    }
    
    .activity-task .enroll-button {
        visibility: visible;
    }
    }

/* show spinner when container contains class 'pending' */
.pending .sk-chase-container {
    display: flex;
}

/* disable user input */
.pending .task-panel {
    pointer-events: none;
}



.activity-title {
    padding: 4px;
    grid-area: title;
    font-size: 30px;
    color: indigo;
}

.activity-desc {
    padding: 8px;
    grid-area: desc;
    border: lavender 1px dashed;
}

.activity-notes {
    padding: 8px;
    grid-area: notes;
}

.assoc-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 20%;
    margin: 7px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
    display: inline-block;
}

.project-banner {
    background-color: rgb(28, 42, 88);
    color: white;
    font-size: large;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
    width: auto;
    padding: 5px;
}

.project-details {
    background-color: aliceblue;
    color: indigo;
    border-radius: 3px;
    padding: 5px;
}

.task-panel {
    position: absolute;
    top: -15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.activity-duedate {
    padding: 4px;
    font-size: 20px;
    color: red;
    bottom: 0px;
    align-self: flex-end;
    line-height: 60px;
}

.task-form {
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px;
    background-color: honeydew;
    padding: 14px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
}

.project-form {
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 40px;
    background-color: rgb(28, 42, 88);
    padding: 5px;
    padding-top: 12px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
    width: 80vw;
}

.project-form>* {
    width: -webkit-fill-available;
    margin: 3px;
}

.project-form > textarea {
    resize: vertical;
}

.project-form > button {
    background-color: lightskyblue;
}

.project {
    border: rgb(28, 42, 88) 2px dotted;
    margin-bottom: 60px;
}

.break-row {
    display: block;
    width: 100%;
    height: 0;
}

.task-form > * {
    padding: 3px;
    margin: 3px;
}

.task-form>input[name="title"] {
    width: calc(100% - 15px);
}

.task-form>input[name="due_date"] {
    max-width: fit-content;
    align-self: flex-end;
}

.task-form>input[name="hours"] {
    width: 50px;
    align-self: flex-end;
}

.task-form>textarea[name="descr"] {
    min-width: 62%;
    height: 160px;
    resize: vertical;
    /* position: relative; */
}

.task-form>textarea[name="obs"] {
    min-width: 34%;
    height: 160px;
    /* position: relative; */
}

.task-form>input[name="max_volunteers"] {
    width: 40px;
    align-self: flex-end;
}

.task-form>button[name="add"] {
    background-color: tomato;
    border: none;
    padding: 6px;
    justify-self: flex-end;
    align-self: flex-end;
}

@media only screen and (max-width: 600px) {
    .activity-task {
        grid: 'title'
        'desc'
        'notes';
        padding-top: 40px;
    }
}